html, body {
	font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
	font-size: 16px;
}

#wrapper {
	width: 960px;
}

.content {
	display: none;
	position: absolute;
	margin-left: 25px;
	border: 1px solid black;
	border-radius: 10px;
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(160,216,239,1) 100%);
}

.content ul {
	margin-left: -10px;
	padding: 0;
	list-style-type: square;
}

.content h3 {
	margin: 20px;
}

.content ul, p {
	margin: 0 20px 20px;
}

.content ul li a {
	text-decoration: none;
	color: #0000FF;
}

h3 {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu > li {
	margin: 0;
	padding: 0;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

.menu > li > a {
	text-decoration: none;
	color: #0000FF;
	padding: 10px 20px;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 10px;
	background: -webkit-linear-gradient(top, rgba(37,220,242,1) 0%,rgba(121,149,226,1) 100%);
}

.menu > li > a:hover {
	font-size: 1.5em;
	padding: 10px 45px;
}

.menu > li > a:hover + .content {
	display: block;
}